.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__list {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    list-style: none;
    margin-left: 70px;
  }
}

.navigation__list .navigation__item + .navigation__item {
  margin-left: 32px;
}

.navigation__link {
  display: block;
  font-family: $text-style;
  color: $text-white-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;

  position: relative;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $hover-color;
  }

  &.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $hover-color;

    border-radius: 4px;
  }
  &.current {
    color: $hover-color;
  }
}

.header-pages__list {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-pages__list .header-pages__item + .header-pages__item {
  margin-left: 15px;
}

.header-pages__item {
  background-color: $box-background;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.header-pages__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}

.header-pages__icon {
  display: block;
  fill: $text-white-color;
  width: 22px;
  height: 22px;
}
