.also {
  padding-top: 100px;
  padding-bottom: 100px;
}

.also__thumb {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
  border-radius: 20px;
}

.also__box {
  display: flex;
  justify-content: space-between;
}

.also__list .also__item + .also__item {
  margin-top: 15px;
}

.also__title {
  color: $text-white-color;
  font-family: $h-style;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.also-point__title {
  color: $text-white-color;
  font-family: $h-style;

  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  line-height: 1.07692;
}

.also-point__text {
  color: $text-white-color;
  margin-top: 15px;

  font-family: $text-style;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: 0.01em;
}

.also-point {
  display: block;
  background: $box-background;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid $logo-color;
}
