.about-us {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us__text {
  color: $text-white-color;
  margin-bottom: 0;

  font-family: $text-style;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: 0.01em;
  text-align: center;
}
