.work-page {
  padding-top: 100px;
  padding-bottom: 100px;

  background-image: url(../images/stripes.png);
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.work-page__text {
  margin-top: 30px;
  color: $text-white-color;

  font-family: $text-style;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.33333;
  letter-spacing: 0.01em;
}
